<!DOCTYPE html>
<html>
<head>
  <title>Registration Required</title>
  <link rel="stylesheet" href="/css/member.css">
</head>
<body>

<script>
  alert("<%= message %>");
  window.location.href = "/members/dashboard"; 
</script>

</body>
</html>
